@import '../../../../scss/index.scss';

.post-info{
    margin-top: 50px;

    &__title{
        text-align: center;
        margin-bottom: 0;
        color: $font-light;
        font-weight: bold;
        font-size: 40px;
    }

    &__creation-date{
        text-align: center;
        color: $font-light;
        margin-bottom: 0;
    }

    &__description{
        color: $primary-color-dark !important;
        font-size: 16px;
        margin-bottom: 100px;
        >h1, h2, h3, h4, h5, h6{
            color: $primary-color-dark !important;
        }
    
    }
}